<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Full Gaming</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/crear-producto.css">
    <link rel="stylesheet" href="/css/footer.css">
    <script src="https://kit.fontawesome.com/5297b1b7bd.js" crossorigin="anonymous"></script>
</head>
<body>
    <%- include('partials/header.ejs') %>
    <main class="main">
        <% if (locals.errores) { %>
            <% errores.forEach(error => { %>
            <p class="error"><i class="fa-solid fa-circle-exclamation"></i> <%= error.msg %></p>
        <% })} %>
        <ul class="errores">
            
        </ul>
        <form action="/productos/crear-producto" method="POST" enctype="multipart/form-data" class="form">
            <div class="div-formulario">
                <label for="nombre" class="label-formulario">Nombre del producto:</label>
                <br>
                <input type="text" name="nombre" id="nombre" placeholder="Ej. Teclado Mecanico Razer" class="input-formulario">
            </div>
            <div class="div-formulario">
                <label for="codigo" class="label-formulario">Codigo del producto:</label>
                <br>
                <input type="text" name="codigo" id="codigo" placeholder="Ej. DIS1073" class="input-formulario">
            </div>
            <div class="div-formulario">
                <label for="precio" class="label-formulario">Precio del producto:</label>
                <br>
                <input type="number" name="precio" id="precio" placeholder="Ej. $15000" class="input-formulario">
            </div>
            <div class="div-formulario">
                <label for="garantia" class="label-formulario">Garantia del producto:</label>
                <br>
                <input type="text" name="garantia" id="garantia" placeholder="Ej. 1 año" class="input-formulario">
            </div>
            <div class="div-formulario">
                <label for="img" class="label-formulario">Tipo de producto:</label>
                <br>
                <select name="tipo" id="tipo" class="input-formulario">
                    <option selected disabled>Selecciona una opcion</option>
                    <% tipos.forEach(tipo => { %>
                        <option value="<%= tipo.id %>"><%= tipo.tipo %></option>
                        <% }) %>
                </select>
            </div>
            <div class="div-formulario">
                <label for="descripcion" class="label-formulario">Descripcion del producto:</label>
                <br>
                <input type="text" name="descripcion" id="descripcion" class="input-formulario">
            </div>
            <div class="div-formulario">
                <label for="img" class="label-formulario">Imagen del producto:</label>
                <br>
                <input type="file" name="img" id="foto" class="input-formulario">
            </div>
            <button type="submit" class="boton-formulario">Crear producto</button>
        </form>
    </main>
    <%- include('partials/footer.ejs') %>
    <script src="/js/crearProductoValidacion.js"></script>
</body>
</html>