<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Full Gaming</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/footer.css">
    <script src="https://kit.fontawesome.com/5297b1b7bd.js" crossorigin="anonymous"></script>
</head>
<body>
    <%- include('partials/header.ejs') %>
    <%- include('partials/banner.ejs') %>
    <main class="main">
        <section class="destacados">
            <h3 class="destacados-title">Destacados:</h3>
            <section class="productos-destacados">
                <% productosDestacados.forEach(producto => { %>
                    <article class="producto">
                        <img src="/images/<%= producto.img %>" class="img-producto">
                        <h4 class="nombre-producto"><%= producto.nombre %></h4>
                        <p class="precio-producto">$<%= producto.precio %></p>
                        <a href="productoDetalle/<%= producto.id %>"><i class="fa-solid fa-cart-plus" id="carrito-producto"></i></a>
                    </article>
                <% }) %>
            </section>
        </section>
    </main>
    <%- include('partials/footer.ejs') %>
</body>
</html>